pkgbase = doppler-cli-bin
	pkgdesc = CLI utility for Doppler, environment and secrets manager.
	pkgver = 3.76.0
	pkgrel = 1
	url = https://doppler.com
	arch = x86_64
	license = Apache
	source = doppler-cli-bin.3.76.0.tar.gz::https://github.com/DopplerHQ/cli/releases/download/3.76.0/doppler_3.76.0_linux_amd64.tar.gz
	sha256sums = 04f1ff30ed162d7af1dba7f11ad6a37ef35099de86a7ec6e261b64b1b337a3f3

pkgname = doppler-cli-bin
